---
import ArticleCard from "../../components/ui/ArticleCard.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../../components/layout/BaseLayout.astro";
import Categories from "../../components/shared/Categories.astro";
import BaseHero from "../../components/shared/BaseHero.astro";
import Container from "../../components/ui/Container.astro";
import ContentList from "../../components/shared/ContentList.astro";

type Writing = CollectionEntry<"writing">;

export const getStaticPaths = (async () => {
  const allWriting = await getCollection("writing");
  const filteredWriting = allWriting.filter((item: Writing) => (import.meta.env.PROD ? !item.data.draft : true));

  const allCategories: string[] = Array.from(new Set(filteredWriting.map((item: Writing) => item.data.category)));

  return allCategories.map((categoryPath) => {
    const categoryWriting = filteredWriting.filter((item: Writing) => item.data.category === categoryPath);

    return {
      params: { category: categoryPath },
      props: { categoryWriting, allCategories },
    };
  });
}) satisfies GetStaticPaths;

const { categoryWriting, allCategories } = Astro.props;

const sortedWriting = categoryWriting.sort(
  (a: Writing, b: Writing) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
);
---

<BaseLayout title="Writing" description="My collection of papers, blogs, and notes">
  <main>
    <Container>
      <BaseHero title="Writing" description="My collection of papers, blogs, and notes" />
      <Categories categories={allCategories} currentPath={Astro.url.pathname} basePath="writing" />

      <ContentList>
        {
          sortedWriting.map((item: Writing) => (
            <ArticleCard
              title={item.data.title}
              description={item.data.description}
              url={`/writing/${item.id}`}
              date={item.data.publishedAt}
              tags={item.data.tags}
              rtl={item.data.rtl}
            />
          ))
        }
      </ContentList>
    </Container>
  </main>
</BaseLayout>
